# IDE and other tools
*.iml
*.idea/*
npm-debug.log


# Project specific files
cloudcontrol/.git
frontend/.git
cloudcontrol/components/*
frontend/javascripts/site/*
frontend/sass/site/*
cloudcontrol/www/css/*
cloudcontrol/www/js/*
cloudcontrol/www/sitemap.xml
cloudcontrol/www/robots.txt
cloudcontrol/templates/*
!cloudcontrol/templates/cms.php
!cloudcontrol/templates/cms/*