# IDE and other tools
*.iml
*.idea/*
npm-debug.log


# Project specific files
cloudcontrol/components/*
frontend/javascripts/site/*
frontend/sass/site/*
cloudcontrol/www/css/*
cloudcontrol/www/js/*
cloudcontrol/templates/*
!cloudcontrol/templates/cms.php
!cloudcontrol/templates/cms/*