.dashboard {

	.tiles{
		.tile {
			text-align:center;
			
			.btn {
				.fa {
					font-size:3em;
					display:block;
					margin:1em;
				}
			
				width:100%;
				height:100%;

				&.return {
					background-color:transparent;
					color:$text-color;

					&:hover {
						color:$btn-default-color;
					}
				}
			}
		}
	}
	
}