@import "../variables";
@import "../general";
@import "../../includes/helpers";

.documents {
  h2 {
    color: $documents-color;

    a {
      color: $documents-color;

      &:hover {
        color: lighten($documents-color, 10%);
        text-decoration: none;
      }
    }
  }

  .brick {
    padding:1em;
    background-color:transparentize($btn-default-color, 0.9);
  }

  ul.documents {
    &.nested{
      padding-left:2em;
      max-height:0;
      transition:max-height 0.15s ease-out;
      overflow:auto;

      &.active{
        max-height:1000px;
      }

      &>li {
        margin:0;
      }
    }

    &> li {
      @extend %panel;
      padding:0;

      h3 {
        @extend %inlineblock;
        vertical-align:baseline;
        margin:0;
      }

      .btn {
        padding:0.5em;
        vertical-align:baseline;

        &.documentTitle {
          background-color:$panel-bg-color;
          color:$text-color;

          &:hover,
          &.active {
            color:$btn-default-color;
            background-color:$btn-text-color;
          }

          &.active {
            i:before{
              content:"\f115";
            }
          }
        }
      }

      .grid-box-10 {
        width:83.333333333%;
      }

      .grid-box-8 {
        width:66.666666666%;
      }

      .grid-box-11 {
        width:91.666666666%;
      }

      .grid-box-4 {
        width:33.333333333%;
      }

      .grid-box-2 {
        width:16.666666666%;
      }

      .grid-box-1 {
        width:8.333333333%;

        a.btn {
          font-size:0.5em;
        }
      }

      .empty {
        padding:0.5em;
      }

      .documentActions {
        text-align:right;
      }

      .fa-terminal {
        padding: 0.5em;
        margin: -1em 0em -1em -0.5em;
        background-color:$input-bg-color;
      }

      .state {
        color:lighten($error-color, 20%);

        &.published {
          color:$validate-color;
        }
      }

      .small {
        font-size:0.7em;

        &.unpublished-changes {
          background-color:$files-color;
          border-radius:5px;
          font-size:0.5em;
          padding:0.1em 0.5em;
        }
      }

      .label {
        color:$text-color-light;
      }
    }
  }

  form {
    @extend %panel;

    .form-element {
      display:table;
      width:100%;

      &>label {
        display:table-cell;
        width: 10em;
        text-align: left;
        margin: 1em;
        vertical-align: middle;
      }

      &>input[type="text"], &>input[type="password"], &>input[type="email"], &>input[type="date"], &>input[type="number"], &>input[type="file"], &>select, &>textarea {
        display:table-cell;
      }
    }

    .brick {
      .handles {
        float:right;
      }

      & label {
        display:block;
        width:auto;
        margin: 1em 0 2em 0;
      }

      div.form-element {
        & label {
          display:table-cell;
          width:10em;
        }
      }
    }

    .selected-image {
      width:10em;
      height:10em;
      background-size:cover;
      background-position:center;
      background-color:$input-bg-color;
      border:1em solid $input-bg-color;
    }

    .image-selector {
      background-color:$input-bg-color;
      padding:1em;

      img {
        width:100px;
        height:100px;
        margin:0.5em;
        background-color:#fff;
        padding:0.5em;
        cursor:pointer;

        &:hover {
          background-color:$btn-default-color;
        }
      }
    }

    .file,
    .document {
      .file-selector,
      .document-selector{
        background-color:$input-bg-color;
        padding:0.5em;
        max-height: 23em;
        overflow: auto;
        li {
          padding:1em;
          margin:0.5em;
          background-color:#fff;
          cursor:pointer;

          &:hover {
            color:$btn-default-color;
          }

          &.no-results {
            cursor:default;
            display:none;

            &:hover {
              color:$text-color;
            }
          }

          i {
            margin-right:1em;
          }

          .path {
            font-family:$font-family-code;
            color:$text-color-light;
          }
        }
      }

      .selected-file-type {
        font-size: 4em;
        text-align: center;
        padding-top: 0.5em;

        .fa-ellipsis-h {
          font-size:0.5em;
        }
      }
    }
  }

  .dynamicBricks {
    li {
      margin-bottom:1em;
    }

    .handles {
      text-align:right;
    }
  }

  ul.valuelists {
    &> li {
      @extend %panel;
      padding: 0;

      h3 {
        @extend %inlineblock;
        vertical-align: baseline;
        margin: 0;
      }

      .btn {
        padding: 0.5em;
        vertical-align: baseline;

        &.documentTitle {
          background-color: $panel-bg-color;
          color: $text-color;

          &:hover,
          &.active {
            color: $btn-default-color;
            background-color: $btn-text-color;
          }

          &.active {
            i:before {
              content: "\f115";
            }
          }
        }
      }

      .grid-box-10 {
        width: 83.333333333%;
      }

      .grid-box-2 {
        width: 16.666666666%;
      }

      .empty {
        padding: 0.5em;
      }

      .documentActions {
        text-align: right;
      }

      .small {
        font-size:0.7em;

        &.state {
          color:lighten($error-color, 20%);

          &.state.published {
            color:$validate-color;
          }
        }
      }

      .label {
        color:$text-color-light;
      }
    }
  }
}