.search {
  h2 {
    color: $search-color;

    a {
      color:$search-color;

      &:hover {
        color:lighten($search-color, 10%);
        text-decoration:none;
      }
    }
  }

  .message {
    @extend %panel;

    &.warning {
      color: $files-color;
    }

    &.valid {
      color: $images-color;
    }
  }
}