RewriteEngine on
# Rewrites all urls to index.php except for these excepted file extensions
RewriteRule !\.(js|ico|txt|gif|jpg|jpeg|png|bmp|css|html|htm|php|pdf|exe|eot|svg|ttf|woff|ogg|mp3|xml|map|scss)$ index.php

php_value session.use_trans_sid 0
php_value session.use_only_cookies 1

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_headers.c>
# Unset Server Signature header
ServerSignature Off
# Unset Server Technology header
Header unset X-Powered-By
</IfModule>

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# Favicon
ExpiresByType image/x-icon "access plus 1 year"
# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 month"
</IfModule>